@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@500;600;700&display=swap");

:root {
    --brand-color-1: #a94646;
    --brand-color-2: #c08245;
    --brand-color-3: #d3c05a;
    --brand-color-4: #46a95f;
    --brand-color-5: #336c41;
    --brand-color-6: #4680a9;
    --brand-color-7: #366281;
    --brand-color-8: #7d46a9;
}

* {
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

body {
    width: 200px;
    background-color: #1f2229;
}

h1 {
    font-size: 28px;
    text-align: center;
}

.logo-utils {
    font-size: 80%;
}

button {
    display: block;
    width: max-content;
    height: max-content;
    margin: 5px 0;
    padding: 3px 5px;
    color: #a3b3bf;
    background-color: #252525;
    border: 1px solid #444;
    border-radius: 4px;
    transition: all 0.2s ease;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:hover {
        background-color: #2a2a2a;
    }
}
